<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/login.css'>
<div id="LoginBox" class="modal">

  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('LoginBox').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Nome Utente</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Accedi</button>
    </div>
  </form>
</div>