<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/login.css'>
<div id="LoginBox" class="modal">

  <form class="modal-content animate" method="POST" action="/users/login">
    <div class="imgcontainer">
      <span onclick="document.getElementById('LoginBox').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="email" required>

      <label for="pass"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pass" required>

      <button type="submit">Accedi</button>
    </div>
  </form>
</div>