<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/login.css'>
<div id="SignUpBox" class="modal">

    <form class="modal-content animate was-validated col-sm-8 mt-3" method="POST" action="/users/signUp">
        <div class="imgcontainer">
            <span onclick="document.getElementById('SignUpBox').style.display='none'" class="close"
                title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input name="email" id="email" type="email" class="form-control" maxlength="40"
                    pattern="^[A-z]+.*@[A-z]+.*\.[A-z]+.*$" required>
            </div>

            <div class="form-group">
                <label for="pass">Password</label>
                <input name="pass" id="pass" type="password" class="form-control" maxlength="40"
                    onchange="checkPassword()" required>
            </div>

            <div class="form-group">
                <label for="repass">Reinserisci password</label>
                <input name="repass" id="repass" type="password" class="form-control" maxlength="40"
                    onchange="checkPassword()" required>
            </div>

            <button type="submit">Registrati</button>
        </div>
    </form>
</div>

<script>
    function checkPassword() {
        var password = document.getElementById("pass");
        var repassword = document.getElementById("repass");

        if (password.value != repassword.value) repassword.setCustomValidity("Password Diverse");
        else repassword.setCustomValidity("");
    }
</script>