<div style="text-align: center; margin-bottom:0; margin-top: 12em;">
    <p class="font-italic"
        style="font-size: 2.5rem; text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000; color: aliceblue;">
        &copy; Team Mars</p>
</div>