<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/navbar.css'>

<nav class="navbar navbar-expand-md  ">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        <!-- Navbar links -->
    </button>


    <!-- Collapsible Navbar -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <!-- Dropdown -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown" name="BottoniProprietario">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Gestione Legale
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Rendiconta Tasse Soggiorno</a>
                    <a class="dropdown-item" href="#">Questura</a>
                </div>
            </li>
            <li class="nav-item dropdown" name="BottoniProprietario">
                <a class="nav-link dropdown-toggle mr-3" href="#" data-toggle="dropdown">
                    Gestione Annunci
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/inserisciAnnuncio">Inserisci Annuncio</a>
                    <a class="dropdown-item" href="#">Modifica Annuncio</a>
                    <a class="dropdown-item" href="#">Elimina Annuncio</a>
                    <a class="dropdown-item" href="#">Visualizza Prenotazioni</a>
                    <a class="dropdown-item" href="#">Visualizza Guadagni</a>
                </div>
            </li><!-- Dropdown -->

            <!-- Links -->
            <li class="nav-item">
                <a class="nav-link" href="#">Diventa host</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    onclick="document.getElementById('LoginBox').style.display='block'">Accedi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    onclick="document.getElementById('SignUpBox').style.display='block'">Registrati</a>
            </li>
        </ul>
    </div>
</nav>